apiVersion: v1
kind: Secret
metadata:
  name: homelab-repo
  namespace: platform
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: git@github.com:brendanPro/homelab.git
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    CHANGE_ME
    -----END OPENSSH PRIVATE KEY-----
